<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C+R Pets</title>
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>
<body>
    <h1>All the Pets!</h1>
    <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
            </tr>
            {% for pet in pets %}
            <tr>
              <td>{{ pet['pet_id'] }}</td>
              <td>{{ pet ['name'] }}</td>
              <td>{{ pet ['type'] }}</td>
            </tr>
            {% endfor %}
          </table>
    <hr>
    <h1>Add a Pet</h1>
    <form action="/add_pet" method="POST">
    <p>Name </p><input type="text" name="name">
    <p>Type </p><input type="text" name="type">
    <button>Add</button>
  </form>
    
</body>
</html>