<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
<Style>
    body {
        /* outline: 1px dotted red; */
        text-align: center;
    }
    .box {
        background-color: red;
        width: 200px;
        height: 200px;
        display: inline-block;
        border: 2px solid black;
    }
    h1 {
        text-align: center;
    }

    .color {
        background-color: {{ colorselect }}
    }
    
</Style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for x in range(0, num_times) %}
            <div class="box color"></div> 
        {% endfor %}
    </div>
    
</body>
</html>