<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
        {% for e in user_email %}
         <p style ="color:green">The email you entered ({{ e['email'] }} {{ e['created_at'] }}) is a VALID email address! Thank you!</p>
         {% endfor %}
         <h1>Email Addresses Entered:</h1>
    <table>
            {% for email in email %}
            <tr>
              <!-- <td>HELLO</td> -->
              <td>{{ email['email'] }} {{ email['created_at'] }}</td>
              <!-- <td>{{ email['type'] }}</td> -->
            </tr>
            {% endfor %}
          </table>
</body>
</html>